/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
/jbpm-form-modeler-ng-integration/jbpm-form-modeller-ng-process-backend/target/
/jbpm-form-modeler-ng-integration/target/